*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  text-align: center;
  margin: 60px 0 5px;
  font-size: 1.5rem;
}

[class^=example] {
  max-width: 600px;
  margin: 0 auto;
}

.example-13 {
  background-color: #fff8e3;
  border: 1px solid #fcc621;
  border-radius: 4px;
  padding: 30px;
}

.example-13 .circle16 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #4285f4;
  margin: 0 auto;
}

.example-2 {
  background-color: #fad7d4;
  border: 1px solid #fc5547;
  border-radius: 4px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.example-2 span {
  width: 30px;
  height: 30px;
  background-color: #e0413d;
  border-radius: 50%;
  display: inline-block;
}

.example-3 {
  background-color: #d1e3ff;
  border: 1px solid #2076fa;
  border-radius: 4px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.example-3 .circle3-wrapper {
  max-width: 100%;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

.example-3 .circle3-wrapper .circle3 {
  border-width: 125px;
  -o-border-image: linear-gradient(45deg, red 0%, purple 100%);
     border-image: linear-gradient(45deg, red 0%, purple 100%);
  border-image-slice: 9;
  border-style: solid;
}

.example-9 {
  background-color: #fce8e8;
  border: 1px solid #c0504f;
  border-radius: 4px;
  padding: 30px;
}

.example-9 .circle9 {
  margin: 0 auto;
  width: 200px;
  height: 100px;
  border-radius: 10rem 10rem 0 0;
  border: 10px solid #07ad48;
  border-bottom: 0;
}

.example-5 {
  background-color: #e8fff1;
  border: 1px solid #07ad48;
  border-radius: 4px;
  padding: 30px;
}

.example-5 .circle5 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-top: 10px solid #07ad48;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.example-6 {
  background-color: #fcedeb;
  border: 1px solid #fc3419;
  border-radius: 4px;
  padding: 30px;
}

.example-6 .circle6 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-bottom: 10px solid #fc3419;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.example-7 {
  background-color: #e3ebfa;
  border: 1px solid #2d75fc;
  border-radius: 4px;
  padding: 30px;
}

.example-7 .circle7 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-left: 10px solid #2d75fc;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.example-8 {
  background-color: #e6e7e8;
  border: 1px solid #696a6b;
  border-radius: 4px;
  padding: 30px;
}

.example-8 .circle8 {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-right: 10px solid #696a6b;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.example-10 {
  background-color: #fce8e8;
  border: 1px solid #c0504f;
  border-radius: 4px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.example-10 div {
  margin: 5px;
}

.example-10 .circle10 {
  width: 200px;
  height: 100px;
  background-color: red;
  border-radius: 10rem 10rem 0 0;
}

.example-10 .circle11 {
  width: 200px;
  height: 100px;
  background-color: green;
  border-radius: 0 0 10rem 10rem;
}

.example-10 .circle12 {
  width: 100px;
  height: 200px;
  background-color: #00f;
  border-radius: 10rem 0 0 10rem;
}

.example-10 .circle13 {
  width: 100px;
  height: 200px;
  background-color: #000;
  border-radius: 0 10rem 10rem 0;
}

.example-11 {
  background-color: #fff8e3;
  border: 1px solid #f5b907;
  border-radius: 4px;
  padding: 30px;
}

.example-11 .circle14 {
  margin: 0 auto;
  max-width: 500px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid green;
  background-color: #f5b907;
}

.example-12 {
  background-color: #fff8e3;
  border: 1px solid #f5b907;
  border-radius: 4px;
  padding: 30px;
}

.example-12 .circle15 {
  margin: 0 auto;
  max-width: 500px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid green;
  background-color: #f5b907;
  position: relative;
  background-image: url(http://shihabiiuc.com/wp-content/uploads/2023/03/axis.png);
  background-size: cover;
  background-position: center;
}

.example-12 .circle15 p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
}

.example-14 {
  background-color: #d4fcdf;
  border: 1px solid #32a852;
  border-radius: 4px;
  padding: 30px;
}

.example-14 img.circle17 {
  border-radius: 50%;
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.example-15 {
  background-color: #fcece3;
  border: 1px solid #fc7528;
  border-radius: 4px;
  padding: 30px;
}

.example-15 img.circle18 {
  border-radius: 50%;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1/1;
  display: block;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}/*# sourceMappingURL=style.css.map */